.register{
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 150px;
}

.form{
    background-color: #ffffff;
    padding: 20px 20px 30px 20px ;
    border-radius: 6px;
}

.form-group h3{
    color: #428bca;
    padding: 0 15px;
    display: inline-block;
    margin: 0;
}

.form-group .pull-right{
    margin-right: 20px;
}